In [1]:
import pandas as pd
import numpy as np

# Load the dataset
data = pd.read_csv('/content/drive/MyDrive/train.csv')

In [2]:
#`count()` function is used to count non-null values in each column
column_counts = data.count()

# Display the total number of rows in each column
print(column_counts)

Unnamed: 0           5847
Name                 5847
Location             5847
Year                 5847
Kilometers_Driven    5847
Fuel_Type            5847
Transmission         5847
Owner_Type           5847
Mileage              5845
Engine               5811
Power                5811
Seats                5809
New_Price             815
Price                5847
dtype: int64

Q1. Look for the missing values in all the columns and either impute them (replace with mean, median, or mode) or drop them. Justify your action for this task.

In [3]:
# Check for missing values in each column
missing_values = data.isnull().sum()
print(missing_values)

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [4]:
# Replace "NA" values in 'New_Price' with the corresponding values from the 'Price' column
data['New_Price'].fillna(data['Price'], inplace=True)

#Justification:
# I did this because, The cars which don't have the new price are expected to be sold at the same price as before. So updated it with the old price from the price column.

# If there are any remaining NA values in 'New_Price', replace them with 0.(Even if Old price column is empty, As we cant find the price of the car through mean, median or mode)
data['New_Price'].fillna(0, inplace=True)

# Display the Updated dataset.
print(data)

      Unnamed: 0                              Name    Location  Year  \
0              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              2                      Honda Jazz V     Chennai  2011
2              3                 Maruti Ertiga VDI     Chennai  2012
3              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              6            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        6014                  Maruti Swift VDI       Delhi  2014
5843        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        6017                Maruti Wagon R VXI     Kolkata  2013
5846        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Fuel_Type Transmission Owner_Type     Mileage  \
0                 41000    Diesel       Manual      First  19.67 kmpl
1                 46000    Petrol       Manual      First    13 km/kg
2                 87000    Diesel       Manual      First  20.77 kmpl
3                 40670    Diesel    Automatic     Second   15.2 kmpl
4                 86999    Diesel       Manual      First  23.08 kmpl
...                 ...       ...          ...        ...         ...
5842              27365    Diesel       Manual      First   28.4 kmpl
5843             100000    Diesel       Manual      First   24.4 kmpl
5844              55000    Diesel       Manual     Second   14.0 kmpl
5845              46000    Petrol       Manual      First   18.9 kmpl
5846              47000    Diesel       Manual      First  25.44 kmpl

       Engine      Power  Seats  New_Price  Price
0     1582 CC  126.2 bhp    5.0       12.5  12.50
1     1199 CC   88.7 bhp    5.0  8.61 Lakh   4.50
2     1248 CC  88.76 bhp    7.0        6.0   6.00
3     1968 CC  140.8 bhp    5.0      17.74  17.74
4     1461 CC   63.1 bhp    5.0        3.5   3.50
...       ...        ...    ...        ...    ...
5842  1248 CC     74 bhp    5.0  7.88 Lakh   4.75
5843  1120 CC     71 bhp    5.0        4.0   4.00
5844  2498 CC    112 bhp    8.0        2.9   2.90
5845   998 CC   67.1 bhp    5.0       2.65   2.65
5846   936 CC   57.6 bhp    5.0        2.5   2.50

[5847 rows x 14 columns]

In [5]:
# Impute 'Seats' with the median
median_seats = data['Seats'].median()
data['Seats'].fillna(median_seats, inplace=True)

In [6]:
# Impute 'Owner_Type' with the mode
mode_owner_type = data['Owner_Type'].mode()[0]
data['Owner_Type'].fillna(mode_owner_type, inplace=True)

In [7]:
# Fill empty cells in the 'Engine' column with "NA"
data['Engine'].fillna('NA', inplace=True)

In [8]:
# Download the updated dataset
data.to_csv('train_cleaned_dataset.csv', index=False)

In [26]:
print(data)

      Unnamed: 0                              Name    Location  Year  \
0              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              2                      Honda Jazz V     Chennai  2011
2              3                 Maruti Ertiga VDI     Chennai  2012
3              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              6            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        6014                  Maruti Swift VDI       Delhi  2014
5843        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        6017                Maruti Wagon R VXI     Kolkata  2013
5846        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Fuel_Type Transmission Owner_Type     Mileage  \
0                 41000    Diesel       Manual      First  19.67 kmpl
1                 46000    Petrol       Manual      First    13 km/kg
2                 87000    Diesel       Manual      First  20.77 kmpl
3                 40670    Diesel    Automatic     Second   15.2 kmpl
4                 86999    Diesel       Manual      First  23.08 kmpl
...                 ...       ...          ...        ...         ...
5842              27365    Diesel       Manual      First   28.4 kmpl
5843             100000    Diesel       Manual      First   24.4 kmpl
5844              55000    Diesel       Manual     Second   14.0 kmpl
5845              46000    Petrol       Manual      First   18.9 kmpl
5846              47000    Diesel       Manual      First  25.44 kmpl

       Engine      Power  Seats  New_Price  Price
0     1582 CC  126.2 bhp    5.0       12.5  12.50
1     1199 CC   88.7 bhp    5.0  8.61 Lakh   4.50
2     1248 CC  88.76 bhp    7.0        6.0   6.00
3     1968 CC  140.8 bhp    5.0      17.74  17.74
4     1461 CC   63.1 bhp    5.0        3.5   3.50
...       ...        ...    ...        ...    ...
5842  1248 CC     74 bhp    5.0  7.88 Lakh   4.75
5843  1120 CC     71 bhp    5.0        4.0   4.00
5844  2498 CC    112 bhp    8.0        2.9   2.90
5845   998 CC   67.1 bhp    5.0       2.65   2.65
5846   936 CC   57.6 bhp    5.0        2.5   2.50

[5847 rows x 14 columns]

In [9]:
#Justification:
#We can also drop the new price column as many columns are empty. But there are questions related to the new price column so i haven't dropped the column.

Q2. Remove the units from some of the attributes and only keep the numerical values (for example remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from “New_price”).

In [10]:
cleaned_data = pd.read_csv('train_cleaned_dataset.csv')

In [11]:
# Remove 'kmpl' from 'Mileage' and keep only numerical values
cleaned_data['Mileage'] = cleaned_data['Mileage'].str.replace(' kmpl', '').str.replace(' km/kg', '').astype(float)

# Remove 'CC' from 'Engine' and keep only numerical values
cleaned_data['Engine'] = cleaned_data['Engine'].str.replace(' CC', '').replace('NA', np.nan).astype(float)

# Remove 'bhp' from 'Power' and keep only numerical values
cleaned_data['Power'] = cleaned_data['Power'].str.replace(' bhp', '').replace('NA', np.nan).astype(float)

# Remove 'Lakh' from 'New_Price' and keep only numerical values
cleaned_data['New_Price'] = cleaned_data['New_Price'].str.replace(' Lakh', '').replace('NA', np.nan).str.replace(' Cr', 'e7').astype(float)

# Display the updated dataset.
print(cleaned_data)

      Unnamed: 0                              Name    Location  Year  \
0              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              2                      Honda Jazz V     Chennai  2011
2              3                 Maruti Ertiga VDI     Chennai  2012
3              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              6            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        6014                  Maruti Swift VDI       Delhi  2014
5843        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        6017                Maruti Wagon R VXI     Kolkata  2013
5846        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  Engine  \
0                 41000    Diesel       Manual      First    19.67  1582.0
1                 46000    Petrol       Manual      First    13.00  1199.0
2                 87000    Diesel       Manual      First    20.77  1248.0
3                 40670    Diesel    Automatic     Second    15.20  1968.0
4                 86999    Diesel       Manual      First    23.08  1461.0
...                 ...       ...          ...        ...      ...     ...
5842              27365    Diesel       Manual      First    28.40  1248.0
5843             100000    Diesel       Manual      First    24.40  1120.0
5844              55000    Diesel       Manual     Second    14.00  2498.0
5845              46000    Petrol       Manual      First    18.90   998.0
5846              47000    Diesel       Manual      First    25.44   936.0

       Power  Seats  New_Price  Price
0     126.20    5.0      12.50  12.50
1      88.70    5.0       8.61   4.50
2      88.76    7.0       6.00   6.00
3     140.80    5.0      17.74  17.74
4      63.10    5.0       3.50   3.50
...      ...    ...        ...    ...
5842   74.00    5.0       7.88   4.75
5843   71.00    5.0       4.00   4.00
5844  112.00    8.0       2.90   2.90
5845   67.10    5.0       2.65   2.65
5846   57.60    5.0       2.50   2.50

[5847 rows x 14 columns]

Q3. Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot encoded value. (5 points).

In [12]:
# Use one-hot encoding to convert 'Fuel_Type' and 'Transmission' into numerical values
cleaned_data = pd.get_dummies(cleaned_data, columns=['Fuel_Type', 'Transmission'], prefix=['Fuel', 'Trans'])

# Display updated dataset with one-hot encoding.
print(cleaned_data)

      Unnamed: 0                              Name    Location  Year  \
0              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              2                      Honda Jazz V     Chennai  2011
2              3                 Maruti Ertiga VDI     Chennai  2012
3              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              6            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        6014                  Maruti Swift VDI       Delhi  2014
5843        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        6017                Maruti Wagon R VXI     Kolkata  2013
5846        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  New_Price  \
0                 41000      First    19.67  1582.0  126.20    5.0      12.50
1                 46000      First    13.00  1199.0   88.70    5.0       8.61
2                 87000      First    20.77  1248.0   88.76    7.0       6.00
3                 40670     Second    15.20  1968.0  140.80    5.0      17.74
4                 86999      First    23.08  1461.0   63.10    5.0       3.50
...                 ...        ...      ...     ...     ...    ...        ...
5842              27365      First    28.40  1248.0   74.00    5.0       7.88
5843             100000      First    24.40  1120.0   71.00    5.0       4.00
5844              55000     Second    14.00  2498.0  112.00    8.0       2.90
5845              46000      First    18.90   998.0   67.10    5.0       2.65
5846              47000      First    25.44   936.0   57.60    5.0       2.50

      Price  Fuel_Diesel  Fuel_Electric  Fuel_Petrol  Trans_Automatic  \
0     12.50            1              0            0                0
1      4.50            0              0            1                0
2      6.00            1              0            0                0
3     17.74            1              0            0                1
4      3.50            1              0            0                0
...     ...          ...            ...          ...              ...
5842   4.75            1              0            0                0
5843   4.00            1              0            0                0
5844   2.90            1              0            0                0
5845   2.65            0              0            1                0
5846   2.50            1              0            0                0

      Trans_Manual
0                1
1                1
2                1
3                0
4                1
...            ...
5842             1
5843             1
5844             1
5845             1
5846             1

[5847 rows x 17 columns]

Q4. Create one more feature and add this column to the dataset (you can use mutate function in
R for this). For example, you can calculate the current age of the car by subtracting “Year” value
from the current year. (5 points)

In [13]:
import datetime

# Calculate the current year
current_year = datetime.datetime.now().year

# Create a new column 'Current_Age' by subtracting 'Year' from the current year
cleaned_data['Current_Age'] = current_year - cleaned_data['Year']

# Display updated dataset with the new 'Current_Age' column
print(cleaned_data)

      Unnamed: 0                              Name    Location  Year  \
0              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              2                      Honda Jazz V     Chennai  2011
2              3                 Maruti Ertiga VDI     Chennai  2012
3              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              6            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        6014                  Maruti Swift VDI       Delhi  2014
5843        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        6017                Maruti Wagon R VXI     Kolkata  2013
5846        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  New_Price  \
0                 41000      First    19.67  1582.0  126.20    5.0      12.50
1                 46000      First    13.00  1199.0   88.70    5.0       8.61
2                 87000      First    20.77  1248.0   88.76    7.0       6.00
3                 40670     Second    15.20  1968.0  140.80    5.0      17.74
4                 86999      First    23.08  1461.0   63.10    5.0       3.50
...                 ...        ...      ...     ...     ...    ...        ...
5842              27365      First    28.40  1248.0   74.00    5.0       7.88
5843             100000      First    24.40  1120.0   71.00    5.0       4.00
5844              55000     Second    14.00  2498.0  112.00    8.0       2.90
5845              46000      First    18.90   998.0   67.10    5.0       2.65
5846              47000      First    25.44   936.0   57.60    5.0       2.50

      Price  Fuel_Diesel  Fuel_Electric  Fuel_Petrol  Trans_Automatic  \
0     12.50            1              0            0                0
1      4.50            0              0            1                0
2      6.00            1              0            0                0
3     17.74            1              0            0                1
4      3.50            1              0            0                0
...     ...          ...            ...          ...              ...
5842   4.75            1              0            0                0
5843   4.00            1              0            0                0
5844   2.90            1              0            0                0
5845   2.65            0              0            1                0
5846   2.50            1              0            0                0

      Trans_Manual  Current_Age
0                1            8
1                1           12
2                1           11
3                0           10
4                1           10
...            ...          ...
5842             1            9
5843             1            8
5844             1           11
5845             1           10
5846             1           12

[5847 rows x 18 columns]

In [14]:
# New feature 'Years_With_Transmission' by combining 'Year' and 'Transmission'
cleaned_data['Years_With_Transmission'] = cleaned_data['Year'].astype(str) + '-' + data['Transmission']

# Display updated dataset with the new 'Years_With_Transmission' column
print(cleaned_data)

      Unnamed: 0                              Name    Location  Year  \
0              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              2                      Honda Jazz V     Chennai  2011
2              3                 Maruti Ertiga VDI     Chennai  2012
3              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              6            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        6014                  Maruti Swift VDI       Delhi  2014
5843        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        6017                Maruti Wagon R VXI     Kolkata  2013
5846        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  New_Price  \
0                 41000      First    19.67  1582.0  126.20    5.0      12.50
1                 46000      First    13.00  1199.0   88.70    5.0       8.61
2                 87000      First    20.77  1248.0   88.76    7.0       6.00
3                 40670     Second    15.20  1968.0  140.80    5.0      17.74
4                 86999      First    23.08  1461.0   63.10    5.0       3.50
...                 ...        ...      ...     ...     ...    ...        ...
5842              27365      First    28.40  1248.0   74.00    5.0       7.88
5843             100000      First    24.40  1120.0   71.00    5.0       4.00
5844              55000     Second    14.00  2498.0  112.00    8.0       2.90
5845              46000      First    18.90   998.0   67.10    5.0       2.65
5846              47000      First    25.44   936.0   57.60    5.0       2.50

      Price  Fuel_Diesel  Fuel_Electric  Fuel_Petrol  Trans_Automatic  \
0     12.50            1              0            0                0
1      4.50            0              0            1                0
2      6.00            1              0            0                0
3     17.74            1              0            0                1
4      3.50            1              0            0                0
...     ...          ...            ...          ...              ...
5842   4.75            1              0            0                0
5843   4.00            1              0            0                0
5844   2.90            1              0            0                0
5845   2.65            0              0            1                0
5846   2.50            1              0            0                0

      Trans_Manual  Current_Age Years_With_Transmission
0                1            8             2015-Manual
1                1           12             2011-Manual
2                1           11             2012-Manual
3                0           10          2013-Automatic
4                1           10             2013-Manual
...            ...          ...                     ...
5842             1            9             2014-Manual
5843             1            8             2015-Manual
5844             1           11             2012-Manual
5845             1           10             2013-Manual
5846             1           12             2011-Manual

[5847 rows x 19 columns]

In [22]:
# Split the 'Name' column based on space and assign the first part to a new 'Car_Company' column.
cleaned_data['Car_Company'] = cleaned_data['Name'].str.split(' ').str[0]

# Display the updated dataset with the new 'Car_Company' column
print(cleaned_data)

      Unnamed: 0                              Name    Location  Year  \
0              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              2                      Honda Jazz V     Chennai  2011
2              3                 Maruti Ertiga VDI     Chennai  2012
3              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              6            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        6014                  Maruti Swift VDI       Delhi  2014
5843        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        6017                Maruti Wagon R VXI     Kolkata  2013
5846        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  New_Price  \
0                 41000      First    19.67  1582.0  126.20    5.0      12.50
1                 46000      First    13.00  1199.0   88.70    5.0       8.61
2                 87000      First    20.77  1248.0   88.76    7.0       6.00
3                 40670     Second    15.20  1968.0  140.80    5.0      17.74
4                 86999      First    23.08  1461.0   63.10    5.0       3.50
...                 ...        ...      ...     ...     ...    ...        ...
5842              27365      First    28.40  1248.0   74.00    5.0       7.88
5843             100000      First    24.40  1120.0   71.00    5.0       4.00
5844              55000     Second    14.00  2498.0  112.00    8.0       2.90
5845              46000      First    18.90   998.0   67.10    5.0       2.65
5846              47000      First    25.44   936.0   57.60    5.0       2.50

      Price  Fuel_Diesel  Fuel_Electric  Fuel_Petrol  Trans_Automatic  \
0     12.50            1              0            0                0
1      4.50            0              0            1                0
2      6.00            1              0            0                0
3     17.74            1              0            0                1
4      3.50            1              0            0                0
...     ...          ...            ...          ...              ...
5842   4.75            1              0            0                0
5843   4.00            1              0            0                0
5844   2.90            1              0            0                0
5845   2.65            0              0            1                0
5846   2.50            1              0            0                0

      Trans_Manual  Current_Age Years_With_Transmission Car_Company
0                1            8             2015-Manual     Hyundai
1                1           12             2011-Manual       Honda
2                1           11             2012-Manual      Maruti
3                0           10          2013-Automatic        Audi
4                1           10             2013-Manual      Nissan
...            ...          ...                     ...         ...
5842             1            9             2014-Manual      Maruti
5843             1            8             2015-Manual     Hyundai
5844             1           11             2012-Manual    Mahindra
5845             1           10             2013-Manual      Maruti
5846             1           12             2011-Manual   Chevrolet

[5847 rows x 20 columns]

In [24]:
# Download the updated dataset
cleaned_data.to_csv('Final_dataset_WithModifications.csv', index=False)