In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/raw_data.csv')

#Check for the null values

In [3]:
missing_values = data.isnull().sum()

In [4]:
print(data.head())

   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75

#Check for the dupicate rows

In [5]:
duplicate_rows = data.duplicated().sum()

In [6]:
print(data.head())

   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75

#Add a new column named TotalPercentage

In [7]:
data['TotalPercentage'] = (data['math score'] + data['reading score'] + data['writing score']) / 3

In [8]:
data['TotalPercentage'] = data['TotalPercentage'].round(2)

In [9]:
print(data)

     gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score  \
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

     TotalPercentage
0              72.67
1              82.33
2              92.67
3              49.33
4              76.33
..               ...
995            94.00
996            57.33
997            65.00
998            74.33
999            83.00

[1000 rows x 9 columns]

#Arrange the data in asccneding order by Total Percentage

In [13]:
data_sorted = data.sort_values(by='TotalPercentage', ascending=False)

In [14]:
print(data_sorted.head())

     gender race/ethnicity parental level of education     lunch  \
916    male        group E           bachelor's degree  standard
458  female        group E           bachelor's degree  standard
962  female        group E          associate's degree  standard
114  female        group E           bachelor's degree  standard
179  female        group D            some high school  standard

    test preparation course  math score  reading score  writing score  \
916               completed         100            100            100
458                    none         100            100            100
962                    none         100            100            100
114               completed          99            100            100
179               completed          97            100            100

     TotalPercentage
916           100.00
458           100.00
962           100.00
114            99.67
179            99.00

#Add a new column which states Pass or Fail by their TotalPercentage

In [21]:
data_sorted['pass_or_fail'] = data_sorted['TotalPercentage'].apply(lambda x: 'Pass' if x > 74.99 else 'Fail')

In [22]:
print(data_sorted.head())

     gender race/ethnicity parental level of education     lunch  \
916    male        group E           bachelor's degree  standard
458  female        group E           bachelor's degree  standard
962  female        group E          associate's degree  standard
114  female        group E           bachelor's degree  standard
179  female        group D            some high school  standard

    test preparation course  math score  reading score  writing score  \
916               completed         100            100            100
458                    none         100            100            100
962                    none         100            100            100
114               completed          99            100            100
179               completed          97            100            100

     TotalPercentage pass_or_fail
916           100.00         Pass
458           100.00         Pass
962           100.00         Pass
114            99.67         Pass
179            99.00         Pass

#Download the cleaned data in CSV

In [24]:
data_sorted.to_csv('cleaned_data.csv', index=False)